---
export interface Props{
    href:string,
    text:string,
    className?:string,
    variant:"primary"|"secondary"
}

const {href, text,className, variant} = Astro.props

const getThemeStyle = (variant:"primary"|"secondary")=>{
    if (variant === "primary") {
        return "bg-primary border-transparent hover:bg-[#172554] hover:shadow-lg hover:-translate-y-0.5"
    }
    return "text-primary border-box-border hover:border-primary hover:bg-slate-50"
}

const getTextColor = (variant:"primary"|"secondary") =>{
    if (variant === "primary") {
        return "text-white"
    }
    return "text-primary"
}


---

<a href={href} class={`px-6 py-3 rounded-full outline-none relative overflow-hidden border transition-all duration-300 ease-in-out font-medium
                    ${getThemeStyle(variant)} ${className}`}>
    <span class={`relative ${getTextColor(variant)} z-10`}>
        {text}
    </span>
</a>